################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SecuredMail/bin/Debug
/SecuredMail/obj/Debug
